@import "./variables";

body {
  font-family: "Open Sans", sans-serif;
  padding-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
}

// navbar
.navbar {
  //   width: 90%;
  margin: auto;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .logo {
      img {
        background-size: cover;
        width: 100%;
      }
    }
    ul {
      list-style: none;
      li {
        display: inline-block;

        a {
          text-decoration: none;
          display: block;
          padding: 14px 16px;
          font-size: 1.1em;
          color: rgba(64, 62, 84, 0.747);
          font-weight: bold;
          font-family: "Raleway", sans-serif;
        }
      }
    }
  }
}
// hero section
.main {
  display: flex;
  height: 70vh;
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    .title {
      font-size: 2.3em;
      line-height: 1.5;
      font-weight: 700;
    }
    .paragraph {
      font-size: 1em;
      line-height: 1.4;
      font-weight: bold;
      font-family: "Open Sans", sans-serif;
      color: rgb(64, 62, 84);
    }
    form {
      display: flex;
      justify-content: space-around;
      align-items: center;
      input {
        border: 1px solid $desaturated-blue;
        margin: 0;
        padding: 0;
        height: 40px;
        width: 300px;
        border-radius: 3px;
      }
      button {
        border: none;
        height: 42px;
        width: 200px;
        background-color: $BrightBlue;
        color: white;
        font-family: "Raleway", sans-serif;
        font-size: 1.1em;
        font-weight: 400;
        border-radius: 3px;
      }
    }
  }
  .image {
    // height: 50%;
    width: 100%;
    img {
      background-size: contain;
      width: 100%;
      height: 100%;
    }
  }
}
